.social-buttons-box {
    overflow: hidden;
    margin: 10px 0;
}

p code {
    background-color: #f7f7f7;
    border: solid 1px #dddddd;
    border-radius: 1px;
    padding: 0 2px;
}

#article-body h2 {
    border-left: solid 6px #444444;
    padding-left: 12px;
}


#article-body {
    font-size: 95%;
}
