@import "base";
@import "mixin";

#article-body {
  font-size: 95%;
  margin-bottom: 20px;
  line-height: 1.7;

  h2 {
    border-left: solid 6px #444;
    padding-left: 12px;
  }

  blockquote {
    border-left: solid 4px #bbb;
    color: #444;
    padding-left: 8px;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}

#article-comment {
  .utterances {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.brand-logo {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  display: block;
  margin: 0 auto;

  @include whenDesktop {
    height: 100px;
    width: 100px;
  }
}

.brand-title {
  margin: 0;
  white-space: nowrap;

  &-link {
    color: white;

    &:hover {
      text-decoration: none;
      filter: brightness(90%);
    }
  }
}

.brand-tagline {
  margin: 0;
  font-weight: 300;
  color: rgb(176, 202, 219);
  font-size: 1.2em;
}

.nav {
  @include whenDesktop {
    margin: 1em 0;
  }

  .nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    @include whenDesktop {
      display: block;
    }

    .nav-item {
      display: block;
      zoom: 1;
      width: 120px;
      margin: 0 auto 1em;

      .nav-item-link {
        background: transparent;
        border: 2px solid rgb(176, 202, 219);
        color: #fff;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 85%;
        width: 100%;

        &:hover,
        &:focus {
          border: 2px solid rgb(61, 146, 201);
          text-decoration: none;
        }
      }
    }
  }
}

.nav-mobile-open {
  display: block;
  margin-bottom: 0.2em;
  font-size: 2em;

  @include whenDesktop {
    display: none;
  }
}

#nav-mobile-open {
  display: none;

  &:checked ~ .nav-list {
    display: block;
  }
}

.sidebar-social-icons {
  display: none;
  color: white;
  margin: 8px auto 32px;
  font-size: 1.5em;
  max-width: 160px;

  @include whenDesktop {
    display: block;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 auto;

      .sidebar-social-icons-link {
        color: #ccc;

        &:hover {
          filter: brightness(90%);
        }
      }
    }
  }
}

.content {
  padding: 1em 1em 0;

  h1 a {
    color: #000;
    text-decoration: none;
  }

  .content-inner {
    max-width: 860px;
    margin: 0 auto;
  }

  @include whenDesktop {
    padding: 2em 3em 0;
    margin-left: 25%;
  }
}

.about {
  text-align: center;

  @include whenDesktop {
    text-align: left;
  }

  &-column {
    &-image {
      margin: 0 auto;
      max-width: 160px;

      @include whenDesktop {
        margin-right: 2em;
        max-width: 300px;
      }
    }
  }

  &-subhead {
    margin-top: 0;
  }
}

.btn-read-more {
  float: right;

  &:hover {
    text-decoration: none !important;
  }
}

.next-previous-article {
  overflow: hidden;

  .previous-article-link {
    float: right;
  }

  .next-article-link {
    float: left;
  }
}

#layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 1.5em auto 0;

  @include whenDesktop {
    margin: 80% 1em 0;
  }
}

.sidebar {
  background: rgb(61, 79, 93);
  color: #fff;

  @include whenDesktop {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}

.posts {
  .content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
}

.post {
  padding-bottom: 2em;

  .post-title {
    font-size: 1.5em;
    color: #222;
    margin-bottom: 0.2em;

    @include whenDesktop {
      font-size: 2em;
    }
  }

  .post-description {
    color: #444;
    line-height: 1.8;
    font-size: 95%;
  }

  .post-meta {
    color: #999;
    font-size: 90%;
    margin: 8px 0;
    line-height: 1.6;
  }
}

.post-tag {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #5aba59;
  font-size: 80%;
  line-height: 1.6;

  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}

.footer {
  text-align: center;
  padding: 1em 0;

  .pure-menu {
    ul {
      padding: 0;
    }

    &-link {
      color: #ccc;
      font-size: 80%;

      &:hover,
      &:focus {
        background: none;
      }
    }

    &-copyright {
      color: #ccc;
    }
  }
}
