.social-buttons-box {
    overflow: hidden;
    margin: 10px 0;
}

p code {
    background-color: #f7f7f7;
    border: solid 1px #dddddd;
    border-radius: 1px;
    padding: 0 2px;
}

#article-body h2 {
    border-left: solid 6px #444444;
    padding-left: 12px;
}

/*
#article-body blockquote {
    border: solid 1px #444444;
    border-radius: 2px;
    color: #333333;
}
*/


#article-body {
    font-size: 95%;
}

.tag-cloud ul {
    list-style: none;
}
.tag-cloud ul li a{
    color: white;
}

.btn-read-more:hover{
    text-decoration: none!important;
}
.btn-read-more {
    float: right;
}

.next-previous-article {
    overflow:hidden;
}

.previous-article-link {
    float: right;
}
.next-article-link {
    float: left;
}
