.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}

.modal-window .modal-inner {
    position: relative;
    background-color: rgba(0,0,0,0.8);
    border-radius: 4px;
    padding: 20px;
    /* ここまで完成 */
}

.modal-inner img {
    margin: 0 !important;
}
