<% title = 'タグ一覧' %>
<% content_for(:page_title) { title } %>
<% content_for(:page_description) { title } %>

<h1><%= title %></h1>

<% blog_tags = Hash[blog.tags.sort_by { |tag, articles| [-articles.size, tag] }] %>

<ul>
  <% blog_tags.each do |tag, articles| %>
    <li><%= partial 'tag', locals: { tag: tag } %><%= " (#{articles.size})" %></li>
  <% end %>
</ul>
