<h1>Tags</h1>

<% blog_tags = Hash[blog.tags.sort_by { |tag, _articles| tag }] %>

<ul>
  <% blog_tags.each do |tag, articles| %>
    <li>
      <%= link_to '<i class="fa fa-tag post-tag-icon"></i>' + "#{tag} (#{articles.size})",
                  tag_path(tag),
                  :class => "post-tag"
      %>
    </li>
  <% end %>
</ul>
