ExpiresActive On
ExpiresByType text/css "access plus 1 days"
ExpiresByType application/javascript "access plus 1 days"
ExpiresByType image/gif "access plus 30 days"
ExpiresByType image/jpeg "access plus 30 days"
ExpiresByType image/png "access plus 30 days"
ExpiresByType application/javascript "access plus 1 days"
ExpiresByType application/x-javascript "access plus 1 days"

ErrorDocument 404 /error/404/index.html
ErrorDocument 403 /error/403/index.html

RewriteEngine On
RewriteRule /error/404/ - [R=404,L]
RewriteRule /error/403/ - [R=403,L]

<Files ~ ".(gif|jpe?g|png|ico)$">
	Header set Cache-Control "max-age=2592000, public"
    # 30日間
</Files>

