<% content_for(:page_title) { 'About' } %>
<% content_for(:page_description) { 'About me and this blog' } %>

<div class="pure-g about">
  <div class="pure-u-1">
    <h1>About</h1>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 about-column">
    <div class="about-column-image">
      <%= image_tag '/img/ikuwow.jpg' %>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-2-3 about-column">
    <div class="about-column-description">
      <h2 class="about-subhead">Ikuo Degawa</h2>
      <p>
        Web Developer<br>
        DevOps Engineer<br>
        Infra Engineer<br>
      </p>

      <p>(More descriptions comes later...)
    </div>
  </div>
</div>
