---
pageable: true
---
<div class="posts">
    <h1 class="content-subhead">Recent Posts</h2>

    <%= partial(:articles_list, locals: {
                  articles: blog.articles
                }) %>

</div>
